<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/aside.css">
    <title>CodeConnect</title>
</head>
<body>
    <aside>
        <img src="./img/Logo.svg" alt="logo do codeconnect">
        <nav>
            <ul class="lista-links">
                <li>
                    <a href="#" class="link-destaque">Publicar</a>
                </li>
                <li>
                    <a href="#">
                        <img src="./img/feed.svg">
                        Feed
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./img/account_circle.svg">
                        Perfil
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./img/info.svg">
                        Sobre nós
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./img/logout.svg">
                        Sair
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</body>
</html>