@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Prompt:wght@100..900&display=swap');

:root {
  --background-color: #00090e;
  --text-color: #e1e1e1;
  --primary-color: #81fe88;
  --secondary-color: #888888;
  --tag-color: #171d1f;
  --font-family: "Inter", sans-serif; 
  --itens-background: #171d1f;
  --font-size-base: 16px;

  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size-base);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  gap: var(--spacing-large);
  padding: 56px 0;
}

/* Para computadores */
@media (max-width: 1024px) {
  body {
    padding: 40px 0;
    gap: var(--spacing-medium);
  }
}

/* Para tablets */
@media (max-width: 768px) {
  body {
    padding: 20px 0;
    gap: var(--spacing-small);
  }

  html {
    font-size: 14px; 
  }
}

