/* @import url(global.css);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  font-family: var(--fonte-principal);
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
}

main {
  width: calc(100% - 2rem); 
  max-width: 730px;
  display: flex;
  flex-direction: column;
  gap: var(--espacamento-lg);
  background-color: var(--cor-cinza-escuro);
  border-radius: 32px;
  padding: var(--espacamento-lg);
  box-sizing: border-box;
}


.container-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--cor-texto);
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
  text-align: center;
  color: var(--cor-texto);
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: 100%;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form div label {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
}

form div input {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: var(--cor-input);
  border: 1px solid var(--cor-input);
  border-radius: 0.5rem;
  font-family: var(--fonte-principal);
  font-size: 0.875rem;
  color: var(--cor-verde-petroleo);
  outline: none;
  box-sizing: border-box;
}

form div input:focus {
  border-color: var(--cor-cinza-escuro);
}

#toggle-senha {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.125rem;
  color: var(--cor-texto);
}

#toggle-senha:hover {
  color: var(--cor-verde-destaque);
}

#mensagem-login {
  font-size: 0.875rem;
  color: #d84040;
  text-align: center;
  margin-top: 0.5rem;
}

.container-botao {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#btn-login {
  width: 100%;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--cor-verde-destaque);
  color: var(--cor-verde-petroleo);
  border: none;
  border-radius: 0.5rem;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

#btn-login::after {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("/assets/img/login/seta-login.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: filter 0.3s ease;
  margin-left: 0.0625rem;
}

#btn-login:hover {
  background-color: var(--cor-fundo);
  color: var(--text-color);
}

#btn-login:hover::after {
  filter: brightness(0.8);
}

p {
  text-align: center;
  font-size: 0.875rem;
  color: var(--text-color);
  margin-top: 1rem;
}

.redireciona-cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.img-cadastro {
  width: 1.25rem;
  height: 1.25rem;
}

/* Media Queries para telas maiores */
/* @media (min-width: 768px) {
  main {
    flex-direction: row;
    height: auto;
    min-height: 525px;
  }
  
  .img-main {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 450px;
    border-radius: 0.625rem;
    margin-left: 0.9375rem;
  }
  
  .container-form {
    width: 100%;
    max-width: 280px;
  }
  
  h1, h2 {
    text-align: start;
  }
} */

/* @media (min-width: 992px) {
  main {
    padding: 2rem;
  }
} */ 