@import url(global.css);
body {
  background-color: var(--cor-fundo);
  color: white;
  display: flex;
  justify-content: center;
}

.container-imagem-usuario {
  display: flex;
}

.detalhes-usuario {
  display: flex;
  flex-direction: column;
}
