@import url(global.css);

main {
  background-color: var(--itens-background);
  border-radius: 10px;
  padding: 32px;
  display: flex;
  gap: 24px;
}

h2 {
  font-size: 26px;
  margin-bottom: 40px;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

form div label {
  font-size: 18px;
  font-weight: 400;
  display: block;
  margin-bottom: 8px;
}

form div input,
textarea {
  width: 100%;
  padding: 8px 16px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  font-family: var(--font-family);
  line-height: 22.5px;
}

form div input {
  height: 39px;
}

texarea {
  height: 161px;
}

.lista-tags li {
  display: flex;
  background-color: var(--secondary-color);
  color: var(--background-color);
  gap: 10px;
  padding: 4px 8px;
  border-radius: 4px;
}

.lista-tags {
  display: flex;
}

.container-botoes {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.container-botoes button {
  width: 50%;
  padding: 12px 32px 12px 12px;
  text-align: center;
  border-radius: 8px;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 500;
}

.botao-descartar {
  background-color: var(--itens-background);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  position: relative;
}

.botao-descartar::after {
  content: "";
  background-image: url("../img/publicar/trash.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 8px;
}

.botao-publicar {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  position: relative;
}

.botao-publicar::after {
  content: "";
  background-image: url("../img/publicar/arrow_forward2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 8px;
}

.container-descricao {
  width: 422px;
}

.main-imagem {
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
}

.container-imagem {
  height: 368px;
  padding: 24px 16px;
  background-color: var(--secondary-color);
  border-radius: 8px;
}

.container-upload-imagem button {
  margin: 16px 0 8px 0;
  background-color: var(--itens-background);
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  color: var(--secondary-color);
  width: 100%;
  text-align: center;
  padding: 12px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  position: relative;
}

.container-upload-imagem button::after {
  content: "";
  background-image: url("../img/publicar/upload.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 8px;
}

.container-imagem-nome {
  display: flex;
  gap: 8px;
  color: var(--secondary-color);
  font-size: 15px;
}
